{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Colors{% endblock %}</h1>
{% endblock %}

{% block content %}
    <br /><br /><br />
    <form method="get">
        <label for="iri">IRI:</label>
        <input name="iri" id="iri" value="{{ iri }}" size="100" required /> |
        <label for="format">(optional) format:</label>
        <select name="format" id="format">
            {% for o in format_options: %}
                <option value="{{ o }}" {% if format == o %} selected="true" {% endif %}>{{ o }}</option>
            {% endfor %}
        </select> |
        <input type="submit" value="Go"><br /><br />
        <small>
            e.g try:<br />
            IRI: http://www.w3.org/2002/07/owl# | format: EMPTY/guess<br />
            IRI: https://raw.githubusercontent.com/schemaorg/schemaorg/main/data/schema.ttl | format: ttl<br />
        </small>
    </form>
    <br />
    {% if msg is not none %}
        <strong>{{ msg }}</strong><br /><br />
    {% endif %}
    <table>
        <tr>
            <th>Concept IRI</th>
            <th>HTML/RGB</th>
            <th>Hsl</th>
            <th>&nbsp;</th>
        </tr>
      {% for c in colors: %}
        <tr style="border: 3px solid ; border-color: {{ c['rgb'] }} ;">
            <td style="border: 3px solid ; border-color: {{ c['rgb'] }} ;">
                {{ c['concept'] }}
            </td>
            <td style="border: 3px solid ; border-color: {{ c['rgb'] }} ;">
                {{ c['color_html'] }}
            </td>
            <td style="border: 3px solid ; border-color: {{ c['rgb'] }} ;">
                {{ c['color_hsl'] }}
            </td>
            <td style="background-color: {{ c['rgb'] }} ;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}